body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Open Sans', sans-serif;
} 


.product-list { 
  margin: 1rem;
  margin-top: 100px;
} 

.clients {
  margin-top: 100px;
}

.form {
  margin-top: 100px;
}
.linear {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.title {
  text-decoration: underline;
  margin: 1em;
  color: #C5951C;
} 

.allProduit {
  margin-top: 100px;
}
.tableProduits {
  margin-top: 100px;
}

.categorie {
  margin-top: 100px;
} 

        
.inscrit {
  margin-top: 100px;
} 

.panier {
  margin-top: 100px;
} 

.papa {
  margin-top: 100px;
} 

ul li {
  list-style: none;
}
/* filter */ 

.filter {
  display: flex; 
  justify-content: space-between;
} 

/* panier */ 

.collection .collection-item{
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
  
}
.collection .collection-item img{
  width: 200px; 
  height: 200px;
  margin-right: 25px;
}
.item-desc{
  align-self:center;
} 
.supprimer {
  margin-top: 15px;
}
/*footer*/ 
.main-footer {
   background-color: #D6EEDA; 
   margin-top: 10rem;  
}

.profile {
  margin-top: 100px;
} 

.containerProduit {
  margin-top: 130px;
}
.containerPanier {
  margin-top: 100px;
}

.bas{
  padding-top: 2rem;
} 
.justify-content-between {
  margin-left: 800px;
} 
.panierTitre {
  color: #C5951C;
}

.table {
  margin-top: 100px;
}

.filter {
  margin-top: 100px;
  color: green;
} 
.choix {
  color: green;
}

.toto {
  color: green;
} 
.nom {
  color: #C5951C;
} 
.linkText {
  color: green;
} 
.titreForm {
  color: #C5951C;
} 
/* #catego {
  color: green;
}  */
.selection option:first-child {
  color: green;
}


@media screen and (max-width: 775px) {
  .bas {
    display: flex;
    flex-direction: column; 
    
  }
  .col {
    padding-top: 13px;
    
  } 
  .editer {
    margin-right: 10px;
  } 
  .supprimer {
    margin-bottom: 12px;
  } 

  .card-list {
    width: 100%;
    margin-left: 30px;
  }

  .collection-item {
    display: flex;
    flex-direction: column;
  } 
  .categorie {
    display: flex;
    flex-direction: column;
  } 
  .clients {
    display: flex; 
    flex-direction: column;
  } 

  .boutonPanier {
    display: flex;
    flex-direction: column;
  } 
   .descript {
     margin-top: 15px;
   }
  

  

  .table.boutonProduits { 
    display: flex;
    flex-direction: column;
  }

  
  .main-footer {
    width: 100%;
  } 

  .tableClients thead{
    display: none;
  } 

  .tableClients, .tableClients tbody, .tableClients tr, .tableClients td {
    display: block;
    width: 100%;
  } 
  .tableClients tr {
    margin-bottom: 15px;
  } 
  .tableClients td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  } 
  .tableClients td::before {
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
  .tableClients td:nth-of-type(1):before { content: "FirstName"; }
  .tableClients  td:nth-of-type(2):before { content: "LastName"; }
  .tableClients  td:nth-of-type(3):before { content: "Email"; }
  .tableClients  td:nth-of-type(4):before { content: "Actions"; } 


  .tableProduits thead{
    display: none;
  } 
  .tableProduits, .tableProduits tbody, .tableProduits tr, .tableProduits td {
    display: block;
    width: 100%;
  } 
  .tableProduits tr {
    margin-bottom: 15px;
  } 
  .tableProduits td {
    text-align: right;
    padding-left: 50%;
    position: relative;
    
  } 
  .tableProduits td::before {
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
   
  } 
  .tableProduits .descript::before {
    margin-top: -18px;
  }
  .tableProduits td:nth-of-type(1):before { content: "Nom"; }
  .tableProduits td:nth-of-type(2):before { content: "Prix"; }
  .tableProduits td:nth-of-type(3):before { content: "Description"; }
  .tableProduits td:nth-of-type(4):before { content: "Photo"; }
  .tableProduits td:nth-of-type(5):before { content: "Categorie_id"; }
  .tableProduits td:nth-of-type(6):before { content: "Actions"; }
}

